<!-- To be refactored.. -->

<section class="meal-details">
	<h2>Enter the Meal Details</h2>
	<form action="" name="myForm" class="form-horizontal">
		<div class="form-group">
			<label for="base-meal-price" class="col-sm-4">Base Meal Price $</label>
			<div class="col-sm-8">
				<input type="number" name="base-meal-price" ng-model="baseMealPrice" required>
			</div>
		</div>
		<div class="form-group">
			<label for="tax-rate" class="col-sm-4">Tax Rate %</label>
			<div class="col-sm-8">
				<input type="number" name="tax-rate" ng-model="taxRateTens" required>
			</div>
		</div>
		<div class="form-group">
			<label for="tip-percent" class="col-sm-4">Tip Percentage %</label>
			<div class="col-sm-8">
				<input type="number" name="tip-percent" ng-model="tipPercentTens" required>
			</div>
		</div>
	</form>
	<div class="meal-detail-btns">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect my-btn meal-detail-btn" ng-click="submit()">Submit</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect my-btn meal-detail-btn" ng-click="cancel()">Cancel</button>
	</div>
	<div class="error" ng-if="myForm.$invalid">
		<p>Please make sure to fill out every field.
		</div>
</section>
<section class="cust-charges">
	<h2>Customer Charges</h2>
	<p>Subtotal: {{ subTotal | number: 2 }}</p>
	<p>Tip: {{ tip | number: 2 }}</p>
	<hr>
	<p>Total: {{ total | number: 2 }}</p>
</section>

