section {
	border: 1px solid black;
	margin-bottom: 1.5em;
}

h1, h2 {
	text-align: center;
	padding: .5em;
}

h1 {
	font-size: 4em;
}

h2 {
	border-bottom: 1px solid black;

}

table {
	margin: auto;
}

td {
	padding: 0.5em;
	font-size: 1.3em;
}

.meal-details {
	padding: 0;
}

.meal-detail-btns {
	text-align: center;
	margin: auto;
}

.btn {
	margin: 1.5em;
}

.reset-btn {
	float: right;
	font-size: 1.3em;
	padding: 0.6em 2em;
}